@model IEnumerable<TestePraticoModel.Model.CategoriaModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row py-3">
    <div class="col">
        <h2>Categoria</h2>
    </div>

    <div class="col">
        @Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-primary float-right" })
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Nome
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
            </tr>
        }
    </tbody>
</table>
